<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="../img/ParusLogo.svg" alt="Logo"></div>
        <div class="page__heading"><h2>Sign In</h2></div>

        <div class="login__container">
            <form id="signinForm">
                <div class="inputBox">
                    <label for="email">Username or email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="inputBox">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="inputBox">
                    <a href="#">Forgot Your Password?</a>
                </div>
                <div class="inputBox">
                    <input class="btn" type="submit" value="Sign In">
                </div>
                <div class="signup">
                    <a class="signup__heading">New to ReviewHub?</a>
                    <a id="signup__link" href="#">Create an account</a>
                </div>
            </form>
            <form id="signupForm">
                <div class="inputBox">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="inputBox">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="inputBox">
                    <label for="password">Create Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="inputBox">
                    <label for="repeatPassword">Repeat Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" required>
                </div>
                <div class="inputBox">
                    <input class="btn" type="submit" value="Create Account">
                </div>
                <div class="signup">
                    <a class="signin__heading">Have an account?</a>
                    <a id="signin__link" href="#">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
