body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: white;
    background-color: #04040B;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/* container  */
.container {
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
}


/* header  */
.header {
    width: 100%;
    padding-top: 5px;

    background-color: #000;
    border-bottom: 1px solid #EC1212;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}









/*nav {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    height: 70px;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 20px 0;*/
/*    background: #FFFFFF;*/
/*    box-shadow: 0 5px 10px rgba(0,0,0,0.1);*/
/*}*/

nav .avatar__circle {
    display: flex;
    align-items: center;
    margin: 0 24px;
    cursor: pointer;
}

nav .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 300px;
    padding: 20px 0;
    background-color: #04040B;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

nav.open .sidebar {
    right: 0;
    transition: all 0.5s ease;
}


.sidebar .sidebar_content {
    padding: 30px 5px;
}

.sidebar_content .list{
    list-style: none;
}

.list .nav-link{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 2px;
    letter-spacing: 0.055rem;

    text-decoration: none;
}

.nav-link:hover{
    background-color: #373942;
}


.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #FFFFFF;
}

.nav-link .link {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}

.nav-link:hover .icon,
.nav-link:hover .link {
   color: #FFFFFF;
}

.overlay{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 200%;
    opacity: 0;

    pointer-events: none;
    transition: all 0.5s ease;
    background: rgba(0,0,0,0.5);
}

nav.open ~ .overlay {
    opacity: 1;
    right: 300px;
    pointer-events: auto;
}







    /* project__page  */
.project__page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    /* background-color: #04040B; */
    background: linear-gradient(180deg, #000 26.56%, #04040B 100%);

}

.main__inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
}

.main__header {
    
    border-bottom: 0.3px #fff solid; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 100px;
    margin-bottom: 150px;
}

.day__quote {
    width: 100%;
    max-width: 300px;

    display: flex;

    height: 1.875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #A8ADBD;
    text-align: center;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.04375rem;
}



/* section  */
section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2em;
    overflow: auto;
    margin-bottom: 200px;
}


.category__link {
    text-decoration: none;
    color: inherit;
}

.theme__box {
    width: 12.5rem;
    height: 15rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
    background: #373942;

    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1875rem;

    padding: 12px;
    text-align: center;

    transition: opacity .2s linear;

    cursor: pointer;
    
}


.theme__box:hover {
    border: #EC1212 0.3px solid;
}

.theme__box:hover::after{
    opacity: 1;
}



.theme__img {
    width: 11rem;
    height: 8rem;
    flex-shrink: 0;

    border-radius: 0.3125rem;
}

.category__link {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет текста от родительского элемента */
}


.add__btn{
    position: relative;
    width: 125px;
    height: 30px;
    border: red 1.5px solid;
    display: flex;
}

.add__btn a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}











@media (max-width: 1820px) {


    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        max-height: 640px;
        font-size: 20px;
    }

    h4{
        font-size: large;
    }

    .add__btn{
        width: 165px;
    }

}

@media (min-width: 1351px) and (max-width: 1538px){

    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        max-height: 600px;
        font-size: 20px;
    }

    .main__header{
        padding: 40px 130px 20px;
        margin-bottom: 70px;
    }

    h4{
        font-size: large;
    }

    .add__btn{
        width: 165px;
    }


}

@media (min-width: 1201px) and (max-width: 1350px){

    .container {
        width: 100%;
        max-width: 1165px;
        margin: 0 auto;
        max-height: 570px;
        font-size: 16px;
    }

    .main__header{
        padding: 40px 130px 20px;
        margin-bottom: 70px;
    }

    section {
        display: flex;
        grid-template-columns: repeat(5, 1fr);
        padding: 2em;
        overflow: auto;
        margin-bottom: 200px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    h4{
        font-size: medium;
    }

    .add__btn{
        width: 135px;
    }


}

@media (min-width: 1025px) and (max-width: 1200px) {


    .container{
        width: 100%;
        max-width: 970px;
        margin: 0 auto;
        max-height: 495px;
        font-size: 15px;
    }

    .main__header{
        padding: 40px 130px 20px;
        margin-bottom: 70px;
    }

    section {
        display: flex;
        padding: 10px 0;
        overflow: auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    section img{
        width: 128px;
        height: 104px;
    }

    .theme__box {
        width: 11.5rem;
        height: 12rem;
        line-height: normal;
        letter-spacing: 0.1875rem;

    }

    h4{
        font-size: medium;
    }

    .add__btn{
        width: 120px;
    }



}

@media (min-width: 769px) and (max-width: 1024px) {

    .container{
        width: 100%;
        max-width: 870px;
        margin: 0 auto;
        max-height: 495px;
        font-size: 15px;
    }

    .main__header{
        padding: 40px 130px 20px;
        margin-bottom: 70px;
    }

    section {
        display: flex;
        padding: 10px 0;
        overflow: auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    section img{
        width: 128px;
        height: 104px;
    }

    .theme__box {
        width: 11.5rem;
        height: 12rem;
        line-height: normal;
        letter-spacing: 0.1875rem;
        margin: 10px;
    }

    h4{
        font-size: medium;
    }

    .add__btn{
        width: 120px;
    }


}

@media (min-width: 481px) and (max-width: 768px) {


    body{
        background-color: #04040B;
    }
    .container{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        max-height: 495px;
        font-size: 12px;
    }

    .main__header{
        padding: 15px 24px 12px;
        margin-bottom: 40px;
    }

    section {
        display: flex;
        padding: 10px 0;
        overflow: auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    section img{
        width: 128px;
        height: 104px;
    }

    .theme__box {
        width: 11.5rem;
        height: 12rem;
        line-height: normal;
        letter-spacing: 0.1875rem;
        margin: 10px;
    }

    h4{
        font-size: medium;
    }

    .add__btn{
        width: 120px;
    }


}

@media (min-width: 320px) and (max-width: 480px) {

    body{
        background-color: #04040B;
    }
    .container{
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        max-height: 495px;
        font-size: 12px;
    }

    .main__header{
        padding: 7px 24px 7px;
        margin-bottom: 40px;
    }

    section {
        display: flex;
        padding: 10px 0;
        overflow: auto;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    section img{
        width: 128px;
        height: 104px;
    }

    .theme__box {
        width: 11.5rem;
        height: 12rem;
        line-height: normal;
        letter-spacing: 0.1875rem;

        margin: 10px;

    }



    h4{
        font-size: medium;
    }

    .add__btn{
        width: 120px;
    }


}