body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: white

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*container*/
.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    /* background-color: #04040B; */
    background: linear-gradient(180deg, #000 26.56%, #04040B 100%);
}

.intro__inner {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.logo__intro {
    margin-bottom: 20px;
    text-align: center;
}

.intro__title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.225rem;
}

.intro__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 1.5px;
    margin: 40px auto 0;

    background-color: #EC1212;
}

.down__arrow img{
    width: 40px;
}

.down__arrow {
    align-self: flex-end;
    display: block;
    margin-top: 40px;
    text-align: center;

}


/* header */
.header {
    width: 100%;
    padding-top: 5px;

    background-color: #000;
    border-bottom: 1px solid #EC1212;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* nav */
.nav {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.13125rem;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    position: relative;

    color: #FFF;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    

    background-color: #EC1212;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;

}

.nav__link:hover {
    color: #EC1212;

}

.nav__link:hover::after{
    opacity: 1;
}